body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Цвет фона как на других страницах */
}
.modal {
    display: block; /* Модальное окно отображается по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}
.modal-content {
    background-color: #fff; /* Белый фон для модального окна */
    margin: auto;
    padding: 20px;
    border-radius: 5px; /* Закругление углов */
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Тень для модального окна */
    width: 300px; /* Фиксированная ширина модального окна */
    position: absolute; /* Абсолютное позиционирование для центрирования */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Сдвиг для точного центрирования */
}
h2 {
    margin-top: 0; /* Убираем верхний отступ у заголовка */
}
input[type="text"] {
    width: calc(100% - 20px); /* Ширина поля ввода с учетом отступов */
    padding: 10px; /* Отступы внутри поля ввода */
    margin-bottom: 10px; /* Отступ снизу для отделения от кнопки */
    border-radius: 5px; /* Закругление углов поля ввода */
    border: 1px solid #ccc; /* Рамка для поля ввода */
}
#saveButton {
    width: 100%; /* Кнопка занимает всю ширину */
    padding: 10px; /* Отступы внутри кнопки */
    background-color: #ccc; /* Серый цвет фона кнопки "Сохранить" */
    color: black; /* Цвет текста кнопки "Сохранить" */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругление углов кнопки "Сохранить" */
    cursor: pointer; /* Курсор при наведении */
}
#saveButton:hover {
    background-color: #aaa; /* Цвет при наведении на кнопку "Сохранить" */
}